/*=============================================================================
# VARIABLES
==============================================================================*/

// Variables can only be named after emotional states
$reserved:      #255957;
$calmness:      #3a6186;
$curiosity:     #2E294E;
$passion:       #89253e;
$love:          #ED4264;
$anger:         #fa6a57;
$joy:           #FFEDBC;
$innocence:     #F5B0CB;
$confusion:     #BEB2C8;
$blank:         #ffffff;

$font: 'Work Sans', sans-serif;
$font-weight: 200;
